.b-benefits {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (width < 1300px) {
        grid-template-rows: auto 1fr;
        row-gap: 35px;
        grid-template-columns: 1fr;
    }

    @media (width < 768px) {
        grid-template-rows: clamp(255px, 166.3636px + 23.6364vw, 450px) 1fr;
    }

    gap: 39px;

    column-gap: 49px;
    margin-top: 115px;
    margin-bottom: 115px;

    &__heading {
        display: flex;
        flex-direction: column;
        position: relative;
        padding-left: 21px;

        &-line {
            position: absolute;
            top: -258px;
            bottom: 0;
            width: 1px;
            height: 1024px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='14'%3E%3Crect width='1' height='7' fill='%23E5EBF1'/%3E%3C/svg%3E");
            background-repeat: repeat-y;
            z-index: -10;
            pointer-events: none;

            @media (width < 1300px) {
                display: none;
            }

            &:nth-of-type(1) {
                left: 0;
            }

            &:nth-of-type(2) {
                left: 50%;
                transform: translateX(calc(-50% - 8.5px));
            }

            &:nth-of-type(3) {
                right: -17px;
            }
        }

        h2 {
            font-size: clamp(30px, 25.145px + 1.2945vw, 50px);
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
            /* 62.5px */
            letter-spacing: -2px;
        }

        p {
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 125%;
            letter-spacing: -0.72px;
        }

        &-cta {
            margin-top: 31px;
        }
    }

    &__showcase {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;

        @media (width < 576px) {
            grid-template-columns: 1fr;
        }

        row-gap: 31px;
        column-gap: 31px;
    }

    &__cell {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 45px;
        background-color: var(--color-bg);
        border-radius: 7px;
        border: 1px solid var(--color-accent-bg-1);
        position: relative;

        &-shadow {

            position: absolute;
            top: 150px;
            right: 210px;

            z-index: -10;

            width: 151px;
            height: 201px;

            svg {
                fill: rgba(255, 211, 56, 0.78);
                filter: blur(25px);
                width: 100%;
                height: 100%;
            }

            @media (width < 1300px) {
                top: 125px;
            }
        }

        &:nth-of-type(4) &-shadow {
            right: 80px;
        }

        &-icon {
            width: 69px;
            height: 69px;
            border-radius: 13px;
            background: rgba(9, 12, 31, 0.06);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-heading {
            margin-top: 12px;
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%;
            letter-spacing: -0.72px;

        }

        &-paragraph {
            margin-top: 15px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: 125%;
            letter-spacing: -0.64px;
        }
    }
}