.b-cta {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    padding: 89px;
    padding-left: clamp(0px, calc(-110.74px + 19.27vw), 259px);
    margin-top: 115px;
    margin-left: clamp(15px, calc((100vw - 1184px) * 153 / 736), 153px);
    margin-right: clamp(15px, calc((100vw - 1184px) * 153 / 736), 153px);

    background-color: var(--color-bg-hero);
    border-radius: 50px;

    @media (width < 1024px) {
        height: 527px;
        flex-direction: column;
        align-items: center;
        margin-inline: 0;
    }

    @media (width < 576px) {
        padding: 45px;
    }

    &__shadow,
    &-top {
        position: absolute;
        width: 338px;
        height: 530px;
    }

    &__shadow {
        top: 8px;
        left: 0;

        @media (width < 1024px) {
            top: auto;
            bottom: -72px;
        }

        &-top {
            top: 0;
            right: 128px;
        }
    }


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 30px;
        width: min(100%, 576px);

        @media (width < 768px) {
            text-align: center;
            align-items: center;
        }


        @media (width < 576px) {
            width: 100%;
        }

        h2 {
            font-size: clamp(30px, 25.145px + 1.2945vw, 50px);
            font-weight: 500;
            line-height: 125%;
        }

        h3 {
            width: 490px;
            font-size: 18px;
            font-weight: 300;
            line-height: 125%;
            letter-spacing: -0.72px;
        }
    }

    &__photo {
        position: absolute;
        bottom: 0;
        right: clamp(-128px, calc(-512px + 26.67vw), 0px);
        overflow: hidden;

        @media (width < 1240px) {
            right: -300px;
        }

        @media (width < 1024px) {
            right: -400px;
        }

        @media (width < 768px) {
            right: -270px;
        }

        @media (width < 576px) {
            width: 489px;
            height: 252px;
            right: -190px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}