:root {
    --color-primary: #FFC107;
    --color-primary-accent: #FFD338;
    --color-secondary: #4F5481;
    --color-secondary-accent: #A5A8BC;

    --color-bg-hero: #FFFBEB;

    --color-fg: #04071E;
    --color-accent-fg-1: #000000;
    --color-color-fg-2: #090C1F;
    --color-accent-fg-3: #1D1D1B;

    --color-bg: #FFFFFF;
    --color-accent-bg-1: #E9EDF1;
    --color-accent-bg-2: #DAE2EB;
    --color-accent-bg-3: #E5EBF1;
}

body {
    font-family: Outfit, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    width: 100%;
}

#app {
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    margin-left: clamp(15px, calc((100vw - 1184px) * 300 / 736), 300px);
    margin-right: clamp(15px, calc((100vw - 1184px) * 300 / 736), 300px);
}