:root {
    --color-primary: #FFC107;
    --color-primary-accent: #FFD338;
    --color-secondary: #4F5481;
    --color-secondary-accent: #A5A8BC;

    --color-bg-hero: #FFFBEB;

    --color-fg: #04071E;
    --color-accent-fg-1: #000000;
    --color-color-fg-2: #090C1F;
    --color-accent-fg-3: #1D1D1B;

    --color-bg: #FFFFFF;
    --color-accent-bg-1: #E9EDF1;
    --color-accent-bg-2: #DAE2EB;
    --color-accent-bg-3: #E5EBF1;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, sans-serif;
    background-color: var(--color-bg);
    color: var(--color-fg);
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
}

.c-wrapper {
    width: 100%;
    background-color: var(--color-bg-hero);
}

.c-shadow {
    position: absolute;
    z-index: 100;
    top: -200px;
    left: -280px;
    width: min(556px, 100%);
    height: min(872px, 100%);
    fill: rgba(255, 211, 56, 0.32);
    filter: blur(50px);
}

.container {
    margin: 0 auto;
    width: 1320px;

    @media (width <=1319.98px) {
        width: 1184px;
    }

    @media (width <=1183.98px) {
        width: 992px;
    }

    @media (width <=991.98px) {
        width: 768px;
    }

    @media (width <=767.98px) {
        width: 576px;
    }

    @media (width <=575.98px) {
        width: 100%;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
    }
}