.c-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    position: absolute;
    z-index: 100;
    width: 100%;
    padding-top: 43px;

    &__menu-button {
        display: none;
    }

    &__logo {
        grid-column: 1;
        padding-left: clamp(15px, calc((100vw - 1184px) * 300 / 736), 300px);
    }

    &__navigation {
        grid-column: 2;
        justify-self: center;

        .menu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 40px;
            padding: 0;

            a {
                color: var(--color-fg);
                text-decoration: none;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.32px;
            }
        }
    }

    &__cta {
        grid-column: 3;
        padding-right: clamp(15px, calc((100vw - 1184px) * 300 / 736), 300px);
    }

    @media (width < 1440px) {
        grid-template-columns: auto 1fr; // Logo | Menu Button

        &__navigation,
        &__cta {
            display: none;
        }

        &__menu-button {
            display: flex;
            grid-column: 2;
            justify-self: end; // Locks button to the right edge
            margin-right: clamp(15px, calc((100vw - 1184px) * 300 / 736), 300px);
            background-color: transparent;
            border: 0;
        }
    }
}

.l-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 100;
    display: none;
    background-color: var(--color-bg);

    &-active {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}

.c-sidebar {
    background-color: var(--color-bg);
    width: 375px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-top: 43px;
        padding-left: 15px;
        padding-right: 15px;

        &-logo {
            display: flex;
            align-items: center;
        }

        &-button {
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0;
        }
    }

    &__content {
        margin-top: 45px;
        gap: 32px;
        display: flex;
        flex-direction: column;
        padding-left: 15px;

        .menu {
            display: flex;
            flex-direction: column;
            gap: 40px;
            list-style: none;
            padding: 0;

            &-item {
                & a {
                    color: var(--color-fg);
                    text-decoration: none;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    letter-spacing: -0.32px;
                }
            }
        }
    }
}