.c-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: clamp(15px, calc((100vw - 1184px) * 300 / 736), 300px);
    z-index: 100;
    padding-top: 40px;
    gap: 90px;

    @media (width < 1440px) {
        &__navigation, &__cta {
            display: none;
        }
    }

    &__navigation {
        .menu {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            gap: 40px;
            padding: 0;

            a {
                color: var(--color-fg);
                text-decoration: none;
                font-size: 16px;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: -0.32px;
            }
        }
    }
}