.b-story {
    margin-top: 115px;
    display: flex;
    flex-direction: column;

    &__header {
        color: var(--color-secondary-accent);
        font-family: Outfit;
        font-size: 50px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%;
        letter-spacing: -2px;
        text-align: center;

        &-pre {
            color: var(--color-fg);
        }
    }

    &__photos {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        margin-top: 60px;
        column-gap: 29px;
    }

    &__photo {
        width: 100%;
        border-radius: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 8px;
        }
    }
}